
:root[data-theme='light'] {
  --bg: #ffffff;
  --text: #000000;
  --container: #e3e5e7;
  --button-bg: #3aa95f;
  --button-hover: #5c5c5c;
  --output-bg: #ffffff;
  --link: #3aa95f;
  --menu-bg: #838683;
}

:root[data-theme='dark'] {
  --bg: #121212;
  --text: #f0f0f0;
  --container: #1e1e1e;
  --button-bg: #3aa95f;
  --button-hover: #5c5c5c;
  --output-bg: #1a1a1a;
  --link: #3aa95f;
  --menu-bg: #2e2e2e;
}

.floating-lang-toggle {
  position: fixed;
  top: 30px;
  right: 170px; 
  z-index: 1000;
}

.custom-lang-switcher {
  position: relative;
  background-color: var(--button-bg);
  color: white;
  padding: 9.5px 16px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.custom-lang-switcher:hover {
  background-color: var(--button-hover);
}

.custom-lang-switcher .lang-options {
  display: none;
  position: absolute;
  background-color: var(--menu-bg);
  border-radius: 8px;
  top: 110%;
  left: 0;
  right: 0;
  box-shadow: 0 4px 8px rgba(0,0,0,0.25);
  overflow: hidden;
}

.custom-lang-switcher .lang-options div {
  padding: 8px 12px;
  transition: background-color 0.2s;
}

.custom-lang-switcher .lang-options div:hover {
  background-color: var(--button-bg);
  color: white;
}

.custom-lang-switcher.open .lang-options {
  display: block;
}

